.month-title {
  text-align: center;
  font-weight: bold;
}

#nav-control {
  display: flex;
  align-items: center;
}

#nav-control button:first-child {
  flex: 0 0 auto;
}

#nav-control button:last-child {
  flex: 0 0 auto;
  margin-left: auto;
}

#nav-control button {
  background-color: #b40f1f2c;
}
